:root {
  --main-color: rgb(228, 227, 227);
  --dark-main-color: rgb(200, 199, 199);
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700;800&display=swap");

/* GLOBAL STYLES */
.app {
  font-family: Raleway;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.student-list {
  width: 55vw;
  height: 80vh;
  border-radius: 10px;
  margin: auto;
  background-color: white;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.student-list::-webkit-scrollbar {
  display: none;
}

/* SEARCH BAR STYLES */
.search-bar {
  font-size: large;
  outline: none;
  border: none;
  border-bottom: var(--main-color) 1px solid;
  padding: 10px;
}

.search-bar:focus {
  outline: none;
  border-bottom: black 1px solid;
}

.search-bar-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
}

/* STUDENT CARD STYLES */
.info-tags-container {
  width: 100%;
  margin-bottom: 2%;
}
.single-student {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: var(--main-color) 1px solid;
}

.single-student h1 {
  font-size: xx-large;
  font-weight: 700;
  text-transform: uppercase;
}

.student-info {
  font-weight: lighter;
  line-height: 0.5em;
  width: 100%;
}

.student-info p {
  margin-left: 5%;
}

/* STUDENT PICTURE STYLES */
.img-wrapper {
  display: flex;
  align-items: flex-start;
  height: 100%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.student-pic {
  width: 125px;
  border: var(--main-color) 1px solid;
  border-radius: 100%;
}

/* STUDENT GRADES STYLES */
.grades-none {
  display: none;
}

.grades-expand {
  line-height: normal;
  display: block;
}

.grades-expand ul {
  list-style-type: none;
  padding-left: 5%;
}

.test {
  margin-right: 5%;
}

/* TAGS STYLES */
.tag-input {
  border: none;
  border-bottom: var(--main-color) 1px solid;
  margin: 0 0 2% 5%;
  padding: 1%;
}

.tag-input:focus {
  outline: none;
  border-bottom: var(--dark-main-color) 3px solid;
}

.tags {
  display: flex;
  margin-left: 4.5%;
  margin-bottom: 3%;
  flex-wrap: wrap;
}

.single-tag {
  width: fit-content;
  line-height: normal;
  text-align: center;
  border-radius: 5px;
  padding: 8px 15px;
  background-color: var(--main-color);
  margin: 0.5%;
}

/* EXPAND BUTTON STYLES */
.grades-btn {
  border: none;
  background-color: white;
}

.grades-btn-img {
  width: 30px;
}

.grades-btn-img:hover {
  filter: brightness(0%);
}

.grades-btn-container {
  display: flex;
  height: 100%;
  align-items: flex-start;
  margin-right: 2%;
  margin-top: 7%;
}
